<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SlivenCinema</title>
   @* <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />*@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link href="~/content/css/site.css" rel="stylesheet" asp-append-version="true"/>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    

    
    @* <link rel="stylesheet" href="~/node_modules/swiper/swiper-bundle.min.css">
    <script type="module" src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script> *@

    
    <script type="module" src="~/js/site.js" asp-append-version="true"></script>
   
</head>
<body>
    <div class="wrapper">
        <header class="header">

            <a asp-controller="Home" asp-action="Index" class="logo">
                <i class='bx bxs-movie-play'></i>Sliven Cinema
            </a>
            <div class="bx bx-menu" id="menu-icon">
            </div>

            <ul class="nav-list">
                <li><a asp-area="" asp-controller="Home" asp-action="Index">This week</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="ComingSoon">Coming Soon</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="About">About the cinema</a></li>
            </ul>

        </header>
    
        
            @RenderBody()
            <section class="footer">
                <a asp-controller="Home" asp-action="Index" class="logo">
                    <i class='bx bxs-movie-play'></i>Sliven Cinema
                </a>
                <div class="social-links">
                    <a href="https://github.com/DImitarTab"><i class='bx bxl-github'></i></a>
                    <a href="https://www.linkedin.com/in/dimitar-tabakov137/"><i class='bx bxl-linkedin'></i></a>
                </div>
            </section>
            <div class="copyright">
                <p>&#169; Dimitar Tabakov All Rights Reserved.</p>
            </div>


    </div>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    
    @await RenderSectionAsync("Scripts", required: false)
    
</body>
</html>
