html{
    height:100%;
}

body {
  box-sizing: border-box;
  height:100%;
}

.wrapper {
    height: 100%;
    width: auto;
    display: flex;
    flex-direction:column;
}
.container {
    display: flex;
    flex-direction: column;
    font-family: "Open Sans", sans-serif;
    color: $font-color;
    width: 100%;
    height: 100%;
    background-color: #7662fc;
}

.header {
  display: flex;
  width: 100%;
  background-color: #ff424f;
  flex-basis:5%;
}

.main-body {
    display: flex;
    background: $lighter-background;
    flex-basis: 95%;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  animation: fadeIn 0.5s linear;
  animation-fill-mode: both;
}

.images {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}

.about-text {
  margin: 30px 0;
  width: 70%;
}

.interior {
  margin: 50px;
  min-width: 700px;
  height: 400px;
  border: 2px solid $darker-background;
}

h2 {
  font-family: "Open Sans", sans-serif;
  color: $font-color;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

.main-panel {
    width: 100%;
    animation: fadeIn 0.5s linear;
    animation-fill-mode: both;
}


.first-panel {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    // min-width: 500px;
    width: 100%;
    gap: 20px;
    padding: 40px;
}

.heading--air-date {
    padding-top: 50px;
    grid-column: 1/-1;
}

.second-panel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  // min-width: 500px;
}

.movie--panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.third-panel {
  align-items: center;
  justify-content: space-evenly;
}

.movie-row {
  display: flex;
  flex-wrap: wrap;
  background-color: $lighter-background;
  justify-content: space-evenly;
  padding: 20px;
  align-items: center;
}

.third {
  padding-top: 150px;
}

.header-name,
nav {
  display: flex;
  font-weight: bold;
  background-color: #f83745;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  flex: 0 0 200px;
  color: $font-color;
  padding: 21px;
  align-content: flex-start;
  justify-content: center;
}

.poster-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  color: $font-color;
}

.poster {
  padding: 10px;
}

.rating {
  display: flex;
  font-family: "Open Sans", sans-serif;
  position: relative;
  top: 15px;
  z-index: 1;
  border-radius: 20px;
  background-color: #ff9f43;
  width: 50px;
  height: 30px;
  align-items: center;
  justify-content: center;
}

.poster-name {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: $font-color;
  font-weight: bold;
  padding-top: 15px;
}

.poster-genre {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  color: #95a5a6;
  padding-top: 10px;
}

.individual-movie {
  margin-left: 100px;
  width: 250px;
  height: 380px;
  box-shadow: 0 0 30px -2px $black;
}

.movie-poster {
  width: 100%;
  min-width: 300px;
  height: 450px;
  box-shadow: 0 0 30px -2px $black;
}

.summary-text,
.date,
.genre,
.duration {
  // background: green;
  width: 80%;
  // margin: 140px 0;
}



.information {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 380px;
  width: 80%;
  min-width: 500px;
}

.title-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li {
  animation: fadeIn 0.5s linear;
  animation-fill-mode: both;
  > a {
    color: $font-color;
    font-size: 16px;
  }
}

ul > li {
  padding-top: 20px;
}

@for $i from 1 through 8 {
  li:nth-child(#{$i}) {
    animation-delay: 0.15s * $i;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    top: 100px;
  }
  75% {
    opacity: 0.5;
    top: 0px;
  }
  100% {
    opacity: 1;
  }
}

//end

nav {
  background-color: $darker-background;
  font-size: 20px;
}

.header-filter {
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.button--filter {
  height: 20px;
}

.hall {
    display: grid;
    grid-template-columns: repeat(10, 50px); /* Adjust the number of columns and size as needed */
    gap: 10px;
    color: $lighter-background;
    // background: white;
    font-weight: bold;
    margin-top: 50px;
}

.seats {
    width: 50px;
    height: 50px;
    background-color: #ffda79;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    &.selected {
        background-color: red;
    }

    &.occupied {
        background-color: red;
    }

    &:hover {
        background-color: yellowgreen;
    }
}

.screen {
    grid-column: 1 / -1;
    background-color: #333;
    color: #FFF;
    text-align: center;
    padding: 10px 0;
    margin:0 100px 50px 100px;
}


.time-container {
  background: red;
  border-radius: 7px;
  width: 50px;
  height: 25px;
  text-align: center;
  font-weight: bold;
  color: $font-color;
  a {
    color: $font-color;
  }
}

.row {
  display: flex;
}

/*li > label {
    display: flex;
    padding: 10px;
    margin: 2px;
    border: 1px solid green;
    background-color: #ffda79;

    &.selected {
        background-color: red;
    }

    &:hover {
        background-color: yellowgreen;
    }
}*/



.screening-block {
  margin: 60px 100px 0 320px;
  display: flex;
  justify-content: space-evenly;
  min-width: 580px;
  width: 50%;
}

.projection {
    display: flex;
    width: 100%;
    padding-top: 15px;
}

.row {
  list-style-type: none;
}

.button {
  background-color: $font-color;
  border: 1px solid gray;
}

.error,
.dropdown-select {
  display: none;
}

input[type="text"],
input[type="time"] {
  height: 30px;
  border: none;
  color: $placeholder;
  border-bottom: 1px solid $placeholder;
  background-color: transparent;
  width: 253px;
  text-align: center;
  margin: 10px;
}

input[type="submit"] {
  height: 30px;
  border: none;
  background-color: #09a738;
  width: 100px;
  margin-top: 40px;
  color: aliceblue;
}

::placeholder {
  color: rgb(107, 107, 107);
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

.selection-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
}

.fields {
  display: flex;
  width: 100%;
  align-items: center;
  background-color: #212529;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 50px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.212);
}


.heading--title {
  background: #212529;
  width: 100%;
  padding-top: 50px;
}

.movie-select {
  margin: 10px;
  width: 250px;
  height: 30px;
  appearance: none;
  border: none;
  color: $placeholder;
  border-bottom: 1px solid $placeholder;
  background-color: transparent;
  text-align-last: center;

  option {
    color: $black;
  }

  &:invalid {
    color: rgb(107, 107, 107);
  }

  &:focus {
    outline: none;
  }
}

.heading--about {
  padding-top: 20px;
}

.time-container {
    /* width: 50px; */
    min-width: 50px;
    margin-right: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.popupContainer {
    color: black;
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    overflow: auto;
}

/* Popup content */
.popupContent {
    background-color: #fefefe;
    color: black;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    max-width: 500px;
    text-align: center;
    position: relative;
}

/* Close button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 10px;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}