/**
 * Variables
*/

/* Typography */
/* Breakpoints */
/* Paths */
/* Grid setup */
/* Colour palette */
$black: #000;
$white: #fff;
$font-color: #E4DEBE;
$lighter-background: #222b31;
$darker-background: #0C0C0C;
$placeholder: #c7c7c7;
$darkred: #9B3922;
$lightred: #ff424f;
$orange: #F2613F;
/* Components */
